<footer>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <p><b>Github source:</b> <%= link_to "rails-5-real-time-chat-app-with-action-cable", "https://github.com/sieudang2002/rails-5-real-time-chat-app-with-action-cable"%></p>
    </div>
  </div>
</footer>
